<section
  class="
    grid
    grid-cols-1
    md:grid-cols-1
    lg:grid-cols-[75%_25%]
    gap-5
    py-1
    md:py-5
    px-0
  "
>
  <div class="overview">
    <h1 class="hidden text-3xl font-bold tracking-wider sm:hidden md:block">Dashboard</h1>
    <p class="hidden text-sm italic text-neutral-500 sm:hidden md:block">Here's your financial overview</p>

    <div
      class="
        card
        mt-0
        sm:mt-0
        md:mt-6
        shadow-md
        md:shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]
        block
        rounded-lg
        bg-white
      "
    >
      <div class="flex items-center p-4 md:p-6 card-body gap-x-4">

        <%= image_tag "https://res.cloudinary.com/dt8tdf7uu/image/upload/v1688563626/budget_flow/budget-logo_urptbm.png",
        width: "15%",
        class: "hidden sm:hidden md:block",
        alt: "budget-logo" %>

        <div
          class="
            flex
            flex-row
            items-center
            justify-between
            w-full
            md:items-start
            sm:flex-row
            md:flex-col
            sm:justify-between
          "
        >
          <h6 class="mb-2 text-sm text-neutral-500">My Overall Expenses</h6>
          <h1 class="text-base font-light md:text-5xl md:font-semibold">
            <%= number_to_currency(@total_expenses) %>
          </h1>
        </div>
      </div>
    </div>

    <% if @categories.any? %>

      <div
        class="
          grid
          grid-cols-1
          gap-5
          mt-3
          md:mt-8
          categories-list
          sm:grid-cols-1
          md:grid-cols-2
        "
      >
        <% @categories.each do |category| %>
          <%= render "shared/category_card", category: category %>
        <% end %>
      </div>

    <% else %>

      <div
        id="alert-additional-content-1"
        class="
          p-4
          mt-5
          mb-4
          text-blue-800
          border
          border-blue-300
          rounded-lg
          bg-blue-50
        "
        role="alert"
      >
        <div class="flex items-center">
          <svg
            class="flex-shrink-0 w-4 h-4 mr-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <h3 class="text-lg font-medium">You Have no Categories</h3>
        </div>
        <div class="mt-2 mb-4 text-sm">
          Add some categories to manage your expenses
        </div>
        <div class="flex">

          <%= link_to new_category_path, type:"button", class:"text-white bg-blue-800 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 mr-2 text-center inline-flex items-center" do %>
            <svg
              class="-ml-0.5 mr-2 h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 14"
            >
              <path
                d="M10 0C4.612 0 0 5.336 0 7c0 1.742 3.546 7 10 7 6.454 0 10-5.258 10-7 0-1.664-4.612-7-10-7Zm0 10a3 3 0 1 1 0-6 3 3 0 0 1 0 6Z"
              />
            </svg>
            Add Category
          <% end %>

        </div>
      </div>

    <% end %>

  </div>

  <% if recent_expenses.any? %>
    <%= render "shared/recent_expenses", expenses: recent_expenses %>
  <% end %>

  <%= link_to "ADD A NEW CATEGORY",
  new_category_path,
  type: "button",
  data: {
    turbo: "false"
  },
  class:
    "text-center fixed bottom-0 left-0 w-full py-6 text-white  btn bg-primaryGreen block sm:block md:hidden after:content-[''] after:absolute after:top-[50%] after:left-[50%] after:w-[90%] after:h-[70%] after:border after:border-white after:-translate-x-[50%] after:-translate-y-[50%]" %>
</section>
