<section id="login-section" class="w-full h-screen p-3 bg-baseColor md:p-10">
  <section class="w-full sm:w-full md:w-[60%] lg:w-[40%] mx-auto">
    <h1
      class="
        hidden
        mb-2
        text-5xl
        font-light
        text-center
        sm:hidden
        md:block
        lg:block
      "
    >Login</h1>
    <p class="hidden font-semibold text-center sm:hidden md:block lg:block">Hi, Welcome Back</p>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "mt-0 md:mt-7") do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email,
                      class: "form-control #{check_if_valid(f.object.errors, :email)}",
                      placeholder: "Email",
                      autofocus: true,
                      autocomplete: "email" %>
        <%= render "shared/error_message", errors: f.object.errors, label: :email %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password,
                         class:
                           "form-control #{check_if_valid(f.object.errors, :password)}",
                         placeholder: "Password",
                         autocomplete: "current-password" %>
        <%= render "shared/error_message", errors: f.object.errors, label: :password %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center gap-2 mt-3 form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "mb-0 block" %>
        </div>
      <% end %>

      <div class="mt-4 form-group">
        <%= f.submit "Log in",
                 class:
                   "w-full py-4 text-lg text-white rounded-md btn bg-primaryBlue hover:bg-primaryBlueDeep" %>
      </div>
    <% end %>

    <%= link_to "Forgot Password?",
    :new_user_password,
    class: "block my-2 text-sm text-center text-neutral-500" %>
    <p class="text-sm text-center">
      You don't have an Account?
      <%= link_to "Sign Up", :new_user_registration, class: "font-bold text-primaryBlue" %>
    </p>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "Didn't receive confirmation instructions?",
      new_confirmation_path(resource_name) %><br/>
    <% end %>

  </section>
</section>
